
<!-- TABLA PARA MÁS DETALLES COLABORADOR -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalles de colaborador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row fila scrol-tablex">
                    <table id="collaboratorsDetails" style="float: left; color:black; font-size:medium" width="50%">
                        <tr>
                            <th scope="col">Nombre</th>
                            <td id="tdBName"></td>
                        </tr>
                        <tr>
                            <th scope="col">Género</th>
                            <td id="tdBGender"></td>
                        </tr>
                        <tr>
                            <th scope="col">Activo</th>
                            <td><input id="tdBActive" type="checkbox" checked="" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <th scope="col">Estado</th>
                            <td id="tdBState"></td>
                        </tr>
                        <tr>
                            <th scope="col">Dirección</th>
                            <td id="tdBAddress"></td>
                        </tr>
                        <tr>
                            <th scope="col">Teléfono 1</th>
                            <td id="tdBTelephone1"></td>
                        </tr>
                        <tr>
                            <th scope="col">Teléfono 2</th>
                            <td id="tdBTelephone2"></td>
                        </tr>
                        <tr>
                            <th scope="col">Identificacion</th>
                            <td id="tdBIdentification"></td>
                        </tr>
                        <tr>
                            <th scope="col">Nacionalidad</th>
                            <td id="tdNationality"></td>
                        </tr>
                        <tr>
                            <th scope="col">Fecha de nacimiento</th>
                            <td id="tdBDateBirth"></td>
                        </tr>
                        <tr>
                            <th scope="col">Fecha de ingreso</th>
                            <td id="tdBDateEntry"></td>
                        </tr>
                        <tr>
                            <th scope="col">Fecha de salida</th>
                            <td id="tdBDateDeparture"></td>
                        </tr>
                        <tr>
                            <th scope="col">Nomina</th>
                            <td id="tdBIdNomina"></td>
                        </tr>
                        <tr>
                            <th scope="col">Estado civil</th>
                            <td id="tdBCivilStatus"></td>
                        </tr>
                    </table>
                    <table id="collaboratorsDetails" width="50%" style="color:black; font-size:medium;">
                        <tr>
                            <th scope="col">Saldo de vacaciones</th>
                            <td id="tdBVacationBalance"></td>
                        </tr>
                        <tr>
                            <th scope="col">Último cálculo de vacaciones</th>
                            <td id="tdBLastVacationCalc"></td>
                        </tr>
                        <tr>
                            <th scope="col">Puesto</th>
                            <td id="tdBIdPuesto"></td>
                        </tr>
                        <tr>
                            <th scope="col">Forma de pago</th>
                            <td id="tdBFormPayment"></td>
                        </tr>
                        <tr>
                            <th scope="col">Cuenta bancaria</th>
                            <td id="tdBBankAccount"></td>
                        </tr>
                        <tr>
                            <th scope="col">Banco</th>
                            <td id="tdBBank"></td>
                        </tr>
                        <tr>
                            <th scope="col">Correo electrónico</th>
                            <td id="tdBEmail"></td>
                        </tr>
                        <tr>
                            <th scope="col">Contacto de emergencia</th>
                            <td id="tdBEmergencyContact"></td>
                        </tr>
                        <tr>
                            <th scope="col">Teléfono de contacto</th>
                            <td id="tdBTelephoneContact"></td>
                        </tr>
                        <tr>
                            <th scope="col">Salario de referencia</th>
                            <td id="tdBReferenceSalary"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>

    </div>
</div>
