
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="Dprint" class="container col-12">
        <div class="row">
            <div class="col-11 pt-3">
                <h4>Condominio Horizontal Residencial Bagatzi</h4>
                <label class="h4 font-weight-normal">Estado de cuenta</label>
            </div>
            <div class="col-1">
                <img src="~/Content/images/LogoTransp - icon.png" width="100%">
            </div>
        </div>
        <div class="row col-6 text-left m-0 p-0">
            <div class="col  pt-4">
                <div class="row">
                    <div class="col text-right">
                        <label>Filial</label>
                    </div>
                    <div class="col">
                        <label class="font-italic">01</label>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col text-right">
                            <label>Propietario</label>
                        </div>
                        <div class="col">
                            <label class="font-italic">Eduardo Arias</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col  pt-4">
                <div class="row">
                    <div class="col text-right">
                        <label>Fecha</label>
                    </div>
                    <div class="col">
                        <label id="current_date" class="font-italic"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col text-right">
                            <label>Periodo</label>
                        </div>
                        <div class="col">
                            <label id="anio" class="font-italic"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <table class="table table-bordered font-weight-bold h5">
                    <tr class="bg-success table-sm">
                        <th style="color:white;">Monto Total Adeudado</th>
                    </tr>
                    <tr>
                        <td data-decimals="2" data-separator=",">¢221,125.66</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col">
                <h5 class="font-italic">Cuotas de mantenimiento</h5>
                <table class="table text-left table-responsive-xl">

                    <tr class="bg-success table-sm" style="color: white;">
                        <th scope="col">Periodo</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha máxima</th>
                        <th scope="col">Fecha Pago</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Intereses</th>
                        <th scope="col">Saldo total</th>
                    </tr>
                    <!--Perdiodo-->
                    <tr>
                        <td>Jan-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Feb-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Mar-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Apr-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>May-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Jun-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Jul-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Aug-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Sep-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Oct-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Nov-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Dec-21</td>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <!--FIN Perdiodo-->
                </table>
                <!-- PARTE INFERIOR EN DESARROLLO -->
                <!-- <div class="row border-top border-bottom p-0 m-0">
                    <div class="col-xl-1 p-0 m-0 p-0 m-0">
                        <label class="small">Saldo Anter.</label>
                    </div>
                    <div class="col-xl-11 p-0 m-0 small">
                        <div class="col-1"></div>
                        <div class="col-1">762,512.00</div>
                        <div class="col-xl-1">adsd</div>
                        <div class="col-xl-1"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-10">
                        <label>Saldo pendiente</label>
                    </div>
                    <div class="col-xl-2">
                        <label>235,125.00</label>
                    </div>
                </div> -->

            </div>
            <div class="col">
                <h5 class="font-italic">Cuotas extraordinarias</h5>
                <table class="table table-responsive-xl text-left">
                    <tr class="bg-success table-sm" style="color: white;">
                        <th>Monto</th>
                        <th>Fecha máxima</th>
                        <th>Fecha Pago</th>
                        <th>Pago</th>
                        <th>Saldo</th>
                        <th>Intereses</th>
                        <th>Saldo total</th>
                    </tr>
                    <!--Perdiodo-->
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>60,000</td>
                        <td>01/15/2021</td>
                        <td>02/05/2021</td>
                        <td>60,000</td>
                        <td>0</td>
                        <td>0.00</td>
                        <td>0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-11 p-3">
                <textarea rows="2" cols="110" placeholder="Notas:" style="border-color: green;"></textarea>
            </div>
        </div>
    </div>
    <div class="col-1 p-0 m-0">

        @*<button id="btnPrint" onclick="print()" class="btn-secondary"><i class="glyphicon glyphicon-print" aria-hidden="true"></i> Imprimir</button>*@
    </div>
</body>
</html>
<script>
    var current_date = document.getElementById("current_date");
    var anio = document.getElementById("anio");
    current_date.textContent = new Date().toLocaleDateString("es-ES");
    anio.textContent = new Date().getFullYear();

    function print() {
        console.log("print");
        //var contenido = document.getElementById("Dprint").innerHTML;
        //var ventana = window.open();
        //ventana.document.write("<head><head>");
        //    ventana.document.write(contenido);
        //    ventana.document.close();
        //    ventana.focus();
        //    ventana.print();
        //    ventana.close();
        window.open();
    }
</script>

