@{
    ViewBag.Title = "Bienvenido";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/carrousel.css" rel="stylesheet" />
    <title>Subcategory Carousel</title>
</head>
<div class="Carousel">
    <h2>Condominio horizontal Bagatzi</h2>
    <div class="slick-list" id="slick-list">
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/1.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/2.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/3.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/4.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/5.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/6.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/7.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/1.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/2.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/3.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/4.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/5.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/6.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="https://github.com/ariaseduardo/ImagesCondoBagatzi/blob/main/7.jpg?raw=true" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
