
<div class="modal fade"
     id="modalEditarFilial"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center"
                    class="modal-title"
                    id="ModalTitle">
                    Editar Filial
                </h5>
            </div>
            <div class="modal-body">
                <form id="EditForm">
                    <div class="form-group" id="grupo__filialEdit">
                        <label for="filial" class="col-form-label">ID:</label>
                        <input name="idFilial" disabled type="number" class="form-control" id="idFilialEdit" readonly>
                        <label for="idFilial" class="m-1"></label>
                    </div>
                    <div class="form-group" id="grupo__filialEdit">
                        <label for="descripcion" class="col-form-label">Descripción:</label>
                        <textarea name="descrip" type="text" rows="3" class="form-control" id="descripcionEdit" placeholder="Ingrese la descripcion" required></textarea>
                        <div class="invalid-feedback">
                            La descripción es requerida.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4"></div>
                        <div class=" col-sm-12 col-md-4 d-flex  justify-content-center">
                            <button type="button" class="btn btn-secondary col-sm-6 col-md-6" id="btnregresar" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary col-sm-6 col-md-6" id="editarFilialBtn">Editar</button>
                        </div>
                        <div class="col-sm-12 col-md-4"></div>
                    </div>
                    
                </form>

            </div>
            
        </div>
    </div>

</div>  

