<!-- Modal -->
<div class="modal fade" id="m-showMore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles Del Concepto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <table>

                            <tr>
                                <th scope="col">Alias: </th>
                                <td class="pl-2" id="tdAlias"></td>
                            </tr>
                            <tr>
                                <th scope="col">Descripcion: </th>
                                <td class="pl-2" id="tdDescripcion"></td>
                            </tr>
                            <tr>
                                <th scope="col">Tipo: </th>
                                <td class="pl-2" id="tdTipo"></td>
                            </tr>
                            <tr>
                                <th scope="col">Unidad: </th>
                                <td class="pl-2" id="tdUnidad"></td>
                            </tr>
                            <tr>
                                <th scope="col">Salarial: </th>
                                <td class="pl-2" id="tdSalarial"></td>
                            </tr>
                            <tr>
                                <th scope="col">Fijo: </th>
                                <td class="pl-2" id="tdFijo"></td>
                            </tr>
                            <tr>
                                <th scope="col">liquidable: </th>
                                <td class="pl-2" id="tdLiquidable"></td>
                            </tr>
                            <tr>
                                <th scope="col">Cantidad Editable: </th>
                                <td class="pl-2" id="tdCantEditable"></td>
                            </tr>
                            <tr>
                                <th scope="col">Monto Editable: </th>
                                <td class="pl-2" id="tdMontoEditable"></td>
                            </tr>
                            <tr>
                                <th scope="col">Periodicidad: </th>
                                <td class="pl-2" id="tdPeriodicidad"></td>
                            </tr>
                            <tr>
                                <th scope="col">Activo: </th>
                                <td class="pl-2" id="tdActivo"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>