

<style>
    .select-con-botón {
        position: relative;
        /*display: inline-block;*/
    }

        .select-con-botón select {
            padding-right: 5px; /* ajusta este valor para que el botón no se superponga al texto */
        }

        .select-con-botón button {
            position: absolute;
            top: 2px;
            right: 0;
            padding: 5px;
            background-color: #ccc;
            border: none;
            cursor: pointer;
        }


 
   

</style>

    <div class="modal fade" id="crear_documento_asociar_deposito" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="d-flex justify-content-center ">
                    <h5 style="text-align:center" class="modal-title p-3" id="title_admin_docs">Crear o Asociar Documentos</h5>

                </div>

                <div class="modal-body m-0">

                    <div class="container">
                        <div class="row">
                            <form id="formDocumentoMixto" class="col-12">
                                <div class=" row">
                                    <div id="formularioDebito" class="col m-1" style="border-radius: 10px; border: 2px solid green;">

                                        <div class="row justify-content-center">
                                            <h2 class="text-center">Datos Documento a Guardar</h2>
                                            <div class="col-6">

                                                <!--Grupo Debito -->
                                                <div class="form-group" id="grupo_Doc_debito">
                                                    <label for="add_documento_debito_cxc">Documento Debito</label>
                                                    <input name="add_documento_debito_cxc" type="text" class="form-control" id="add_documento_debito_cxc" placeholder="Ingrese el Documento"
                                                           pattern="(?=.+[\w]).{1,50}|(?=.+[\W]).{1,50}" title="Solo se permiten números y letras" required>

                                                    <select hidden id="select_documento_debito_cxc" name="select_documento_debito_cxc" class="custom-select">
                                                        <option value="" selected disabled>Documento Debito</option>

                                                    </select>

                                                </div>
                                                <!--Grupo  Cliente-->
                                                <div class="form-group" id="grupo_cliente_debito">
                                                    <label for="add_cliente_cxc" id="lb_cliente_asociacion">Cliente</label>
                                                    <select required class="form-control" id="add_cliente_cxc" name="add_cliente_cxc">
                                                        <option value="" selected disabled>Asociar Cliente</option>
                                                    </select>
                                                </div>

                                                <div class="form-group" id="grupo_fecha_debito">
                                                    <label for="fechaDocumento_debito_cxc">Fecha Documento</label>
                                                    <input type="date" id="fechaDocumento_debito_cxc" required name="fechaDocumento_debito_cxc" class="form-control" />
                                                </div>

                                                <!--Grupo Notas-->
                                                <div class="form-group" id="grupo-nota_debito">
                                                    <label for="nota_debito_cxc">Nota</label>
                                                    <textarea class="form-control" id="nota_debito_cxc" rows="2"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-6">

                                                <div class="form-group" id="grupo__monto_debito">
                                                    <label for="monto_debito_cxc">Monto</label>

                                                    <input type="number" class="form-control" id="monto_debito_cxc" name="monto_debito_cxc"
                                                           step="0.001" pattern="[0-9]+" placeholder="Ingrese el Monto" title="Solo se permiten numeros" required>
                                                </div>

                                                <div class="form-group" id="grupo_saldo_debito">
                                                    <label for="add_saldo_debito_cxc">Saldo Debito</label>
                                                    <input disabled name="add_saldo_debito_cxc" type="number" class="form-control" id="add_saldo_debito_cxc"
                                                           step="0.01" placeholder="0.000" pattern="[0-9]+" title="Solo se permiten numeros" required>
                                                </div>
                                                <div class="form-group" id="grupo_tipo_debito_cxc">
                                                    <label for="add_tipoDocumento_cxc">Tipo</label>
                                                    <select required name="add_tipoDocumento_cxc" class="custom-select" id="add_tipoDocumento_cxc">
                                                        <option value="" selected disabled>Seleccione el Tipo</option>
                                                        <option value="mens">Mensualidad</option>
                                                        <option value="reci">Recibo</option>
                                                    </select>

                                                </div>

                                                <div hidden class="form-group" id="grupo_pago_debito">
                                                    <label for="condicio_pago_cxc">Condición Pago</label>
                                                    <input disabled name="condicio_pago_cxc" type="number" class="form-control" id="condicio_pago_cxc" placeholder="Condición de Pago"
                                                           pattern="[0-9]+" title="Solo se permiten numeros" >


                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <label class="h6" id="lb_activeCredito">¿Asociar Mensualidades Existentes?</label>
                                                <input type="checkbox" id="activeCredito_cxc" name="activeCredito_cxc" value="1" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="formularioCredito" class="col-5 m-1" style="border-radius: 10px; border: 2px solid brown;">


                                        <div class="col">
                                            <h2 class="text-center" id="title_credito">Recibos del Cliente</h2>
                                            <br />
                                            <div class="form-group" id="grupo_Doc">
                                                <label for="add_documento_credito" id="lb_select_creditos">Recibos Disponibles</label>

                                                <select id="select_documento_credito" name="add_documento_credito" class="custom-select">
                                                    <option value="" selected disabled>Documento Credito</option>

                                                </select>
                                            </div>

                                            <div class="form-group" id="grupo_fecha_credito">
                                                <label for="fechaDocumento_credito_cxc">Fecha Asociación</label>
                                                <input type="date" value="" id="fechaDocumento_credito_cxc" name="fechaDocumento_credito_cxc" class="form-control" />
                                            </div>

                                            <div class="form-group" id="grupo_saldo_credito">
                                                <label for="add_saldo_credito">Saldo Documento</label>
                                                <input disabled type="text" class="form-control"
                                                       id="add_saldo_credito" placeholder="0,000" step="0.01" pattern="[0-9]+"
                                                       title="Solo se permiten numeros">

                                            </div>

                                            <div class="form-group" id="grupo_partida_credito">

                                                <label for="partida_credito">Partida</label>
                                                <select id="partida_credito" name="partida_credito" class="custom-select">
                                                    <option value="" selected disabled>Seleccione una Partida</option>

                                                </select>
                                            </div>

                                            <div class="form-group" id="grupo-nota_credito">
                                                <label for="nota_credito_cxc">Nota</label>
                                                <textarea class="form-control" id="nota_credito_cxc" disabled rows="2"></textarea>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="row justify-content-center pt-3">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button class="btn btn-warning" type="button" id="recientes_agregados" value="1">Ver Recientes</button>
                                    <button id="asociar_documento_cxc" type="submit" class="btn btn-success">Guardar</button>
                                </div>


                            </form>
                            <!--FIN ROW-->

                            <br />
                            
                            <div hidden id="added_recently" class="col-12 pre-scrollable">
                                @*<h2 class="text-center">Agregados Recientemente</h2>*@
                                <div class="row justify-content-center">

                                    <div class="justify-content-center">
                                        <table id="tbDepositoRecientes" class="table table-bordered">
                                            <thead style="text-align:center;">
                                                <tr>
                                                    <th scope="col">Documento Debito</th>
                                                    <th scope="col">Documento Credito</th>
                                                    <th scope="col">Nombre Cliente</th>


                                                </tr>
                                            </thead>
                                            <tbody style="text-align:center;" id="tbDepositosRecientes">
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


