@model List<SelectListItem>
@*@{
        List<SelectListItem> lstProviders = (List<SelectListItem>)ViewBag.lstProviders;
    }*@


<style>
    .select-con-botón {
        position: relative;
        /*display: inline-block;*/
    }

        .select-con-botón select {
            padding-right: 5px; /* ajusta este valor para que el botón no se superponga al texto */
        }

        .select-con-botón button {
            position: absolute;
            top: 2px;
            right: 0;
            padding: 5px;
            background-color: #ccc;
            border: none;
            cursor: pointer;
        }
</style>

<div class="modal fade" id="ModalDocument_CXC" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="ModalTitle_CXC">Partida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form id="formAddDocument_CXC">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"></div>
                        <div class="col-sm-12 col-md-4">

                            <div class="form-group" id="grupo_Doc">
                                <label for="documento_cxc">Documento</label>
                                <input name="documento_cxc" type="text" class="form-control" id="documento_cxc" placeholder="Ingrese el Documento" pattern="(?=.+[\w]).{1,50}|(?=.+[\W]).{1,50}" title="Solo se permiten números y letras" required>
                                <label for="documento_cxc" class="m-1 msj__label" id="lblNombreError"></label>
                            </div>


                            <div class="form-group" id="grupo_cliente">


                                <label for="IdCliente">Cliente</label>
                                @if (Model != null && Model.Count > 0)
                                {


                                    <select required name="IdCliente" id="IdCliente" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione un Cliente</option>

                                        @foreach (var e in Model)
                                        {
                                            <option value="@e.Value"> @e.Text</option>
                                        }

                                    </select>

                                }
                                else
                                {
                                    <div class="select-con-botón">

                                        <select required name="tipo" class="custom-select" id="prov">

                                            <option value="" selected disabled>No hay Clientes</option>

                                        </select>
                                        <button class=" btn btn-info" id="btnAddCliente">Agregar</button>
                                    </div>

                                }


                            </div>


                            <div hidden class="form-group" id="grupo_tipo_cxc">
                                <label for="tipoDocumento_cxc">Tipo</label>
                                <select required name="tipoDocumento_cxc" class="custom-select" id="tipoDocumento_cxc">
                                    <option value="" selected disabled>Seleccione una opcion...</option>
                                    <option value="mens">Mensualidad</option>
                                    <option value="reci">Deposito</option>
                                </select>
                            </div>

                            <div hidden class="form-group" id="grupo_estado_cxc">
                                <label for="estado_cxc">Estado</label>
                                <select required name="Estado" class="custom-select" id="estado_cxc">
                                    <option value="" selected disabled>Seleccione una opcion...</option>
                                    <option value="AD">Adelanto</option>
                                    <option value="PD">Pendiente</option>
                                    <option value="FN">Finalizado</option>
                                </select>
                            </div>


                            <div class="form-group" id="grupo-nota">
                                <label for="nota_cxc">Nota</label>
                                <textarea class="form-control" id="nota_cxc" rows="2"></textarea>
                            </div>
                        </div>


                        <!--==================== COL 2 ====================-->
                        <br />
                        <div class="col-sm-12 col-md-4">


                            <div class="form-group" id="grupo_fecha">
                                <label for="fechaDocumento_cxc">Fecha Documento</label>
                                <input type="date" id="fechaDocumento_cxc" required name="FechaDocumento_cxc" class="form-control" />
                            </div>


                            <div class="form-group" id="grupo__monto">
                                <label for="monto">Monto</label>
                                <input name="monto_cxc" type="number" class="form-control" id="monto_cxc" placeholder="Ingrese el Monto" pattern="[0-9]+" title="Solo se permiten numeros" required>
                                <label for="monto_cxc" class="m-1 msj__label" id="lbMontoError"></label>
                            </div>


                            <div hidden class="form-group" id="grupo_saldo_cxc">
                                <label for="saldo">Saldo</label>
                                <input name="saldo_cxc" type="number" class="form-control" id="saldo_cxc" placeholder="Ingrese la Saldo" pattern="[0-9]+" title="Solo se permiten numeros" required>
                                <label for="saldo_cxc" class="m-1 msj__label" id="lblSaldoError"></label>
                            </div>


                            <div class="form-group" id="grupo__pago">
                                <label for="pago">Condición Pago</label>
                                <input name="pago_cxc" type="number" class="form-control" id="pago_cxc" placeholder="Ingrese la Condición de Pago" pattern="[0-9]+" title="Solo se permiten numeros" disabled>
                                <label for="pago_cxc" class="m-1 msj__label" id="lblPagoError"></label>
                            </div>


                        </div>
                    </div>
                    <div class="col mt-4 d-flex justify-content-center mb-2">
                        <input id="btnModal_CXC" type="submit" class="btn btn-success" value="Guardar" />

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>