@model String


<label for="FechaHoraIngreso">Fecha y hora ingreso:</label>
<input required type="datetime-local" id="FechaHoraIngreso" name="FechaHoraIngreso" value="@Model" class="form-control" />